@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

.contacts_background_image {
    max-width: 100%;
}
.adress p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #313131;
}