@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');


.container {
    max-width: 1100px;
    margin:  0 auto;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 30px;
}

.icons img {
    width: unset;
}
.contacts p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #313131;
}